.dialog {
    position: fixed;
    bottom: 5em;
    left: 5em;
    width: calc(100% - 2*5em - 2*1.25em);
    color: white;
}

.dialog .picture {
    position: absolute;
    bottom: -5em;
    z-index: 500;
    left: 50px;
    max-height: 20em;
}

.dialog .text_zone {
    position: absolute;
    bottom: 0px;
    z-index: 501;
    left: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2em;
    padding: 0.25em 1.25em;
}

.dialog .text_zone h3 {
    margin: 0;
    text-decoration: underline;
}

.dialog .text_zone p {
    display: inline-block;
    width: calc(100% - 2ch);
}

.dialog .text_zone p.narrator {
    font-family: B612MonoItalic, Arial, Helvetica, sans-serif;
}

.dialog .text_zone p:not(.narrator)::before {
    content: "« ";
}
.dialog .text_zone p:not(.narrator)::after {
    content: " »";
}

.dialog .text_zone .toggler {
    width: 1ch;
}

.dialog .text_zone .toggler:after {
    content: "▼";
    animation: toggle_sign 1s ease 0s infinite;
}

@keyframes toggle_sign {
    0% {
        color: currentColor;
    }

    50% {
        color: transparent;
    }
}

.dialog .set_buttons {
    position: absolute;
    right: calc(1.25rem + 2%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
}

.dialog .set_buttons button {
    color: white;
    font-family: B612Mono, Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2em;
    padding: 0.25em 0.75em;
    width: 100%;
    cursor: pointer;
}

.dialog .set_buttons button:hover {
    animation: flash ease-out 4s 1s infinite;
}

@keyframes flash {
    0% {
        background: linear-gradient(137deg, rgba(0, 0, 0, 0.5));
    }
    76% {
        background: linear-gradient(
            137deg,
            rgba(151, 151, 151, 0.7) -10%,
            rgba(0, 0, 0, 0.5) 12%);
    }
    78% {
        background: linear-gradient(
            137deg,
            rgba(151, 151, 151, 0.7) 0%,
            rgba(145, 133, 133, 0.7) 22%);
    }
    80% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) -12%,
            rgba(151, 151, 151, 0.7) 10%,
            rgba(0, 0, 0, 0.5) 32%
        );
    }
    82% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) -2%,
            rgba(151, 151, 151, 0.7) 20%,
            rgba(0, 0, 0, 0.5) 42%
        );
    }
    84% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 8%,
            rgba(151, 151, 151, 0.7) 30%,
            rgba(0, 0, 0, 0.5) 52%
        );
    }
    86% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 18%,
            rgba(151, 151, 151, 0.7) 40%,
            rgba(0, 0, 0, 0.5) 62%
        );
    }
    88% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 28%,
            rgba(151, 151, 151, 0.7) 50%,
            rgba(0, 0, 0, 0.5) 72%
        );
    }
    90% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 38%,
            rgba(151, 151, 151, 0.7) 60%,
            rgba(0, 0, 0, 0.5) 82%
        );
    }
    92% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 48%,
            rgba(151, 151, 151, 0.7) 70%,
            rgba(0, 0, 0, 0.5) 92%
        );
    }
    94% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 58%,
            rgba(151, 151, 151, 0.7) 80%,
            rgba(0, 0, 0, 0.5) 102%
        );
    }
    96% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 68%,
            rgba(151, 151, 151, 0.7) 90%,
            rgba(0, 0, 0, 0.5) 112%
        );
    }
    98% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 78%,
            rgba(151, 151, 151, 0.7) 100%
        );
    }
    100% {
        background: linear-gradient(
            137deg,
            rgba(0, 0, 0, 0.5) 88%,
            rgba(151, 151, 151, 0.7) 110%
        );
    }
}