.room {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 100%;

    overflow: hidden;

    --menu-hz-padding: 4px;
    --menu-width: calc(2*var(--menu-hz-padding) + 32px)
}

.room .playground {
    height: 100%;
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
}

.room .playground .svg {
    position: absolute;
    fill: rgba(0,255,0,0.1);
    stroke: rgba(200,55,200,0.5);
    stroke-width: 2px;
}

.room .playground .svg polygon,
.room .playground .svg ellipse {
    cursor: pointer;
}