.room {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
    width: 100%;

    overflow: hidden;

    --menu-hz-padding: 4px;
    --menu-width: calc(2*var(--menu-hz-padding) + 32px)
}

.room .playground {
    height: 100%;
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.room .playground .zones {
    position: absolute;
    cursor: pointer;
    border: red 4px dashed;
}