.item {
    position: absolute;
    
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item.clickable {
    cursor: pointer;
}

.item.draggable:not(.selected) {
    cursor: grab;
}

.item.draggable.selected {
    cursor: grabbing;
}

.item.clickable.deleted {
    display: none;
}