.password {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba(255,255,255,0.65);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.password input {
    max-height: 30px;
    min-height: 30px;
    max-width: 200px;
    min-width: 200px;
}

.password button {
    max-height: 30px;
    min-height: 30px;
    max-width: max-content;
    min-width: max-content;

}