.menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: var(--menu-width);

    padding: var(--menu-hz-padding);

    background-color: rgba(0, 0, 0, 0.5);
    border-left: rgb(255,255,255) 3px solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu .img {
    cursor: pointer;
}

.exit_button {
    position: absolute;
        
    height: var(--menu-width);
    width: var(--menu-width);

    cursor: pointer;
}